@font-face {
    font-family: 'Hanson';
    src: local('HansonBold'), url('https://github.com/ephere-football/font-kit/blob/main/HansonBold.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'AvenirNextCondensed';
    src: local('AvenirNextCondensed-Bold'), url('https://github.com/ephere-football/font-kit/blob/main/AvenirNextCondensed-Bold.ttf?raw=true') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}
